// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

// THIS IS SOME BOWER / YEOMAN SETUP

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// SASS CONFIG

// (C:\GitHub\sajt\app>) ------------ YOU MUST BE IN THIS DIRECTORY

// WRITE THIS IN TERMINAL TO MAKE SURE SASS IS COMPILED WITH RUBY
//----------------------------------------------------------

/* 

sass --watch styles/main.scss:styles/main.css

*/

//VARIABLES
//----------------------------------------------------------

$fadedBorderLighter: #f7f7f7 * 0.9;
$fadedBorderDarker: #f7f7f7 * 0.8;

//STYLES
//----------------------------------------------------------

//BASIC HTML CLASSES

body {
    font-family: sans-serif; /* Odje ce mozda ici serif */
}

p {
    margin-bottom: 0px;
}

a {
    color: #292b2c;
    &:hover {
        color:#292b2c;
        text-decoration: none;
    }
    &:focus {
        color:#292b2c;
        text-decoration: none;
    }
}

h4 {
    font-size: 18px;
    font-weight: 600;

    // font-family: serif;
}

ul {
    list-style: none;
}

.navbar-toggler {
    position: relative;
    align-self: flex-start;
}

// MOJ NACIN IZRADE TIMELINE-A  // -------------------------USPJESNO !!
//----------------------------------------------------------

.timeline-horizontal .timeline-horizontal-item::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $fadedBorderDarker;
    display: block;
    position: relative;
    top: 27.5px;
    z-index: -1;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    background: #d9534f;
}

.circle-smaller {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background: #d9534f;
}

.circle-outline {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    line-height: 55px;
    text-align: center;
    background: white;
    border: solid #d9534f 1px;
}

// FLEX KLASE - CUSTOM MADE
//----------------------------------------------------------

.list-inline {
    flex: 1;
}

.flexed {
    flex: 1;
}

.flexed-2 {
    flex: 2;
}

// NESTO DRUGO
//----------------------------------------------------------



.inner, .side-info {
    p {
        color: #636c72 * 0.7; // Ovo je iz nekog razloga deprecation warning u terminalu
        font-size: 14px;
    }
}

.dropdown > a {
    color: white;
    border: none;
    line-height: 24px;

    &:hover {
        background-color: transparent;
    }

    &:focus {
        background-color: transparent !important;
    }
}

.list-group-item:last-child {
    margin-bottom: -1px;
}

// BORDER CLASSES - CUSTOM

.bb-dashed {
    border-bottom: dashed $fadedBorderLighter 1px;
}

.br-dashed {
    border-right: dashed $fadedBorderDarker 1px;
}

.bl-dashed {
    border-left: dashed $fadedBorderDarker 1px;
}

// FEATURES KLASA ZA MOBILNE (FLEX)
//----------------------------------------------------------

@media (max-width: 768px) {
    .mobile-justify-content-center {
        justify-content: center;
    }

    .mobile-text-center {
        text-align: center;
    }

    .feature-bordered {
        border: none;
    }

    .mobile-pt-5 {
        padding-top: 24px;
    }

    .mobile-pt-3 {
        padding-top: 16px;
    }

    .mobile-d-block {
        display: block;
    }
}

.feature-bordered {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: none;
    border-right: none;
}

@media (min-width: 768px) {
    .feature-bordered .list-group-item {
        border-top: 0px;
    }
}

.dropdown-white {
    background-color: white;
    border-radius: 5px;
    border: solid 1px $fadedBorderDarker;
}

#dropdownMenuLink-toc {
    width: 100%;
    border: solid 1px $fadedBorderDarker;
}

#dropdown-menu-toc {
    position: absolute;
    top: 40px;
    width: 100%;
}

// LIST - GROUP CUSTOM CLASS 

.smoothBorder {
    border: 1px solid #000020;
}

