// THIS IS SOME BOWER / YEOMAN SETUP

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// SASS CONFIG

//VARIABLES
//----------------------------------------------------------

$fadedBorderLighter: #f7f7f7 * 0.9;
$fadedBorderDarker: #f7f7f7 * 0.8;

//STYLES
//----------------------------------------------------------

//IMPORTS
//----------------------------------------------------------

// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
// endbower

// NESTO DRUGO
//----------------------------------------------------------

@import '1-base/base.scss';
@import '2-layouts/layouts.scss';
@import '3-modules/modules.scss';
@import '4-shame/shame.scss';

