/* // bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Up till here is just some bower/yeoman setup


//THIS IS FOR TESTING PURPOSESS 

.navbar-toggler {
  position: relative;
  align-self: flex-start;
}


.circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  line-height: 55px;
  text-align: center;
  background: #d9534f;
}

.circle-outline {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  color: #fff;
  line-height: 55px;
  text-align: center;
  background: white;
  border: solid #d9534f 1px;
}

.list-inline {
  flex:1;
}

.flexed {
  flex:1;
}