.inner, .side-info {
    p {
        color: #636c72 * 0.7;
        font-size: 14px;

        &.lead {
            font-size:16px;
        }
    }
}

.offerCards {
    /* Insert offer card css here */
}
