// MOJ NACIN IZRADE TIMELINE-A
//----------------------------------------------------------

.timeline-horizontal .timeline-horizontal-item::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $fadedBorderDarker;
    display: block;
    position: relative;
    top: 27.5px;
    z-index: -1;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    background: #d9534f;
}

.circle-smaller {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background: #d9534f;
}

.circle-outline {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    line-height: 55px;
    text-align: center;
    background: white;
    border: solid #d9534f 1px;
}

@media (max-width: 767px) {
    .timeline-horizontal .timeline-horizontal-item::before {
        content: "";
        height: 100%;
        width: 1px;
        background-color: $fadedBorderDarker;
        display: block;
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 25%;
    }

    .timeline-horizontal .timeline-horizontal-item:last-child::before {
        display: none;
    }
}

// FLEX KLASE - CUSTOM MADE
//----------------------------------------------------------

.list-inline {
    flex: 1;
}

.flexed {
    flex: 1 !important;
}

.flexed-5part {
    flex: 1;
}

.flexed-2 {
    flex: 2;
}

.flexed-10 {
    flex: 10 !important;
}

// BORDER CLASSES - CUSTOM
//----------------------------------------------------------

.bb-dashed {
    border-bottom: dashed $fadedBorderLighter 1px;
}

.br-dashed {
    border-right: dashed $fadedBorderDarker 1px;
}

.bl-dashed {
    border-left: dashed $fadedBorderDarker 1px;
}

//KLASE ZA MOBILNE (FLEX) // 
//----------------------------------------------------------

@media (max-width: 991px) {
    .tablet-px-0 { // OVAJ JE REGULARAN
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/* OVO TREBA SVE POBRISATI I ZAMIJENITI SA BOOTSTRAPOVIM KLASAMA
 */
//----------------------------------------------------------

@media (max-width: 767px) {
    .mobile-justify-content-center { // .justify-content-md-center
        justify-content: center !important;
    }

    .mobile-justify-content-start { // .justify-content-md-start
        justify-content: flex-start !important;
    }

    .mobile-align-items-center { // .align-items-md-center
        -webkit-box-align: center !important;
        align-items: center !important;
    }

    .mobile-px-0 { // .pt-md-0
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobile-pt-0 { // .pt-md-0
        padding-top: 0px;
    }

    .mobile-py-2 { // .pt-md-0
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .mobile-pb-3 { // .pb-md-3
        padding-bottom: 16px;
    }

    .mobile-d-block { // .d-md-block
        display: block;
    }

    .mobile-flex-row { // .flex-md-row
        flex-direction: row;
    }
}

// DROPDOWN CUSTOM CLASS
//----------------------------------------------------------

.dropdown-white {
    background-color: white;
    border-radius: 5px;
    border: solid 1px $fadedBorderDarker;
}

#dropdownMenuLink-toc {
    width: 100%;
    border: solid 1px $fadedBorderDarker;
}

#dropdown-menu-toc {
    position: absolute;
    top: 40px;
    width: 100%;
}

#dropdownMenuLink-selectCountry {
    width: 100%;
    border: solid 1px $fadedBorderDarker;
    &::after {
        position: absolute;
        left:100%;
        top: 50%;
        margin-left: 0px;
        transform: translate(-200%);
    }
}

#dropdown-menu-selectCountry {
    position: absolute;
    top: 40px;
    width: 100%;
}

#promoCodeDropdown {
    width: 100%;
}

// DATETIME PICKER CUSTOM CLASS

.dateTimePicker {
    box-sizing: content-box;
    height: 20px;
}

// BORDERS CUSTOM CLASS
//----------------------------------------------------------

.no-br-left {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.no-br-right {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.bb-solid {
    border-bottom: solid 1px $fadedBorderLighter !important;
}

.bt-solid {
    border-top: solid 1px $fadedBorderLighter !important;
}

.br-solid {
    border-right: solid 1px $fadedBorderLighter !important;
}

.bl-solid {
    border-left: solid 1px $fadedBorderLighter !important;
}



@media (min-width: 767px) {
    .hover-bb-danger:hover {
        padding-bottom: 2px !important;
        border-bottom: 2px solid #d9534f;
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    .mobile-bb-solid {
        border-bottom: solid 1px $fadedBorderLighter;
    }

    .mobile-bx-0 {
        border-right: none !important;
        border-left: none  !important;
    }
}

// CHANGES MADE TO BOOTSTRAP
//----------------------------------------------------------

.dropdown > a {
    color: white;
    border: none;
    line-height: 24px;

    &:hover {
        background-color: transparent;
    }

    &:focus {
        background-color: transparent !important;
    }
}

.rounded-0 {
    border-radius: 0 !important;
}

.rounded-right {
    border-bottom-right-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.rounded-left {
    border-bottom-left-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
}

@media (min-width: 768px) {
    .rounded-md-right {
        border-bottom-right-radius: 0.25rem !important;
        border-top-right-radius: 0.25rem !important;
    }
}

@media (min-width: 1200px) {
    .w-xl-25 {
        width: 25% !important;
    }
}

.nav-tabs .nav-link.active {
    color: #464a4c;
    background-color: #f7f7f7;
    border-color: #ddd #ddd transparent;
}

.btn-group .btn {
    padding-left: 0;
    padding-right: 0;
}



// REPLACEMENT TO LIST-GROUP THAT KEEPS THE SAME BORDERS - SHOULD BE CALLED BORDERS-GRAY-GENTLE-WRAPPER

.borders-gray-gentle {
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.125);

    &:first-child {
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
    }

    &:last-child {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}

.borders-black-gentle {
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid black;

    &:first-child {
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
    }

    &:last-child {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}

.bg-transparent {
    background: transparent;
}

.bg-white {
    background: white !important;
}


.cursor-pointer:hover {
    cursor: pointer;
}

.style-arrow-right {
    list-style: square outside url("../../test/Right-Arrow-Transparent-Background.png");
}

.style-circle-danger::before {
    left:24px;
    position: absolute;
    content: "";
    padding: 6px 6px;
    background-color:#d9534f;
    border-radius: 50%;
    border: 1px solid #464a4c;
}
.style-circle-white::before {
    left:24px;
    position: absolute;
    content: "";
    padding: 6px 6px;
    background-color:white;
    border-radius: 50%;
    border: 1px solid #464a4c;
}

.p-rel {
    position: relative;
}
.p-absol {
    position: absolute;
}

.absol-right {
    right: 0px;
}


.flag-danger::after { // THIS IS THE DEFAULT flag-danger
    position: absolute;
    left: 100%;
    top: 0px;
    content: "";
    height: 0;
    width: 0;
    border-top: solid #d9534f 12px;
    border-right: solid white 12px;
    border-bottom: solid #d9534f 12px;
}

.clearfixed {
    clear: both;
}

/* THIS IS WHERE THE TRIANGLE CLASSES ARE */

.triangle-warning-10px::before { // THIS IS THE 10px FLAG
    position: absolute;
    left: 0%;
    top: calc(50% - 10px);
    content: "";
    height: 0;
    width: 0;
    border-left: solid #f0ad4e 10px;
    border-top: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid transparent 10px;
}

.triangle-danger-10px::before { // THIS IS THE 10px FLAG
    position: absolute;
    left: 0%;
    top: calc(50% - 10px);
    content: "";
    height: 0;
    width: 0;
    border-left: solid #d9534f 10px;
    border-top: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid transparent 10px;
}

.border-left-danger {
    border-left: solid 10px #d9534f;
}

.border-left-warning {
    border-left: solid 10px #f0ad4e;
}

/* THIS IS WHERE THE HEIGHT CLASSES ARE */

.height-40 {
    height: 40px;
}
.height-300 {
    height: 300px;
}
.height-380 {
    height: 380px;
}
.height-200 {
    height: 200px;
}

.width-40 {
    width: 40px;
}
.width-350 {
    width: 350px;
}

.adjusted {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -100%);
}

.bg-inverse-transparent {
    background: rgba(41,43,44, 0.65);
}

@media (max-width:768px) {
    .bg-inverse-transparent {
    background: rgba(41,43,44, 0.85);
    } 
}
.bg-inverse-transparent-dark {
    background: rgba(41,43,44, 0.85);
}

.top-0 {
    top: 0px;
}

.tag-new-danger {
    &::after {
        display: inline-block;
        position:absolute;
        padding: 0px 8px;
        content: "NEW";
        font-size: 12px;
        background-color: #d9534f;
        color: white;
        transform: translate(-100%, -100%)
    }
}

@media (max-width: 1200px) {
    .tag-new-danger::after {
        /* top: calc(50% - 2px); */ // MOZEMO NA OVAJ NACIN DA NAPRAVIMO DA NEW OZNAKA IDE ODMA PO SREDINI PORED SLOVA
        transform: translate(0%,100%)
    }
}

.w-min-20 {
    min-width: 20rem !important;
}

.triangle-top-white::after {
    position: absolute;
    left: 16px;
    top: -32px;
    content: "";
    height: 0;
    width: 0;
    border-left: solid transparent 8px;
    border-top: solid transparent 16px;
    border-right: solid transparent 8px;
    border-bottom: solid  white 16px;
}



@media (min-width: 768px) {
    .bg-img-road {
        background-image: url("../test/Road6-1440x900.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

// THIS IS THE COLLAPSED AND EXPANDED PLUS MINUS TRICK 

.collapsed .hidden-collapsed{
    display: none;
}
.hidden-collapsed {
    display: block;
}
.hidden-myexpanded {
    display:none;
}
.collapsed .hidden-myexpanded {
    display: block;
}

.myCaption {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
}

// THESE ARE THE ARROWS FOR THE SLICK PLUGIN

.prev {
    cursor: pointer;
}
.next {
    cursor: pointer;
}

.next-offers {
    cursor: pointer;
}
.prev-offers {
    cursor: pointer;
}

.translated-up {
    transform: translate(0%,-100%)
}

.w-auto {
    width: auto;
}