//  TIMELINE
//----------------------------------------------------------

.timeline-horizontal .timeline-horizontal-item::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $grayDarkColor;
    display: block;
    position: relative;
    top: 27.5px;
    z-index: -1;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    background: $dangerColor;
}

.circle-smaller {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background: $dangerColor;
}

.circle-outline {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    line-height: 55px;
    text-align: center;
    background: white;
    border: solid $dangerColor 1px;
}

@media (max-width: 767px) {
    .timeline-horizontal .timeline-horizontal-item::before {
        content: "";
        height: 100%;
        width: 1px;
        background-color: $grayDarkColor;
        display: block;
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 25%;
    }

    .timeline-horizontal .timeline-horizontal-item:last-child::before {
        display: none;
    }
}

// FLEX CLASSES- CUSTOM 
//----------------------------------------------------------

.flexed {
    flex: 1 !important;
}

.flexed-2 {
    flex: 2 !important;
}

.flexed-10 {
    flex: 10 !important;
}

// BORDER CLASSES - CUSTOM
//----------------------------------------------------------

.border-bottom-dashed-gray { 
    border-bottom: dashed gray 1px;
}

.border-right-dashed-darkgray {
    border-right: dashed $gray 1px;
}

.border-left-dashed-darkgray {
    border-left: dashed $gray 1px;
}

.border-top-solid-lightgray { 
    border-top: solid 1px $grayLightColor !important;
}

.border-bottom-solid-lightgray  { 
    border-bottom: solid 1px $grayLightColor !important;
}

.border-right-solid-lightgray {
    border-right: solid 1px $grayLightColor !important;
}

.border-left-solid-lightgray {
    border-left: solid 1px $grayLightColor !important;
}

.border-left-danger { // MOZDA BI MOGLO BORDER-LEFT-SOLID-DANGER
    border-left: solid 10px $dangerColor;
}

.border-left-warning { // MOZDA BI MOGLO BORDER-LEFT-SOLID-WARNING
    border-left: solid 10px #f0ad4e;
}

@media (min-width: 767px) {
    .hover-bb-danger:hover { // DA LI JE LOSE DA JA OVDJE STAVIM .hover-border-bottom-solid-danger
        padding-bottom: 2px !important;
        border-bottom: 2px solid $dangerColor;
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    .mobile-bb-solid { // DA LI JE LOSE DA JA OVDJE STAVIM .hover-border-bottom-solid-lightgray
        border-bottom: solid 1px $grayLightColor;
    }

    .mobile-border-x-0 {
        border-right: none !important;
        border-left: none  !important;
    }
}

// BORDERS MODULES

.borders-wrapper-graytransp {
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid $grayTransparentColor;

    &:first-child {
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
    }

    &:last-child {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}

.borders-wrapper-black { //OVO TEK TREBA DA SE ISKORISTI NA FLIGHTSPAGE-U
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid black;

    &:first-child {
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
    }

    &:last-child {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}

// PADDING ZA TABLETE I MOBILNE  //
//----------------------------------------------------------

/* TABLETI */

@media (max-width: 991px) {
    .tablet-px-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/* MOBILNI */

@media (max-width: 767px) {

    .mobile-px-0 { 
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .mobile-px-1 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

// DROPDOWN CUSTOM CLASS
//----------------------------------------------------------

// MISLIM DA BI TREBALO PROMIJENIT SVE OVE KLASE SA ID-evima, MISLIM DA CAK ID-EVI NISU NEOPHODNI DA BI BOOTSTRAP DROPDOWN FUNKCIONISAO
// MOZDA SU SAMO NEOPHODNI ID-jevi TAMO DJE JE DATA-TARGET:#tralalala ILI TAKO NESTO

#dropdownMenuLink-toc { // PROMIJENITI NAMING OVOG ID-A I MOZDA NAPRAVITI PROMJENU, DA SE NE VODI PREMA #DROPDOWNU NEGO PREMA KLASI NEKAKO 
    width: 100%;
    border: solid 1px $grayDarkColor;
}

#dropdown-menu-toc { // PROMIJENITI NAMING OVOG ID-A I MOZDA NAPRAVITI PROMJENU, DA SE NE VODI PREMA #DROPDOWNU NEGO PREMA KLASI NEKAKO
    position: absolute;
    top: 40px;
    width: 100%;
}

// LINE HEIGHT CUSTOM CLASS
//----------------------------------------------------------

.lh-md {
    line-height: 1.5 !important;
}

// CHANGES MADE TO BOOTSTRAP CLASSES
//----------------------------------------------------------

// PRONACI NACIN DA PREKO FINDA I REGEXA NADJEM .h1 .h2 .h3 klase...

.dropdown > a { // U SUSTINI NIJE DOBRA OVA KLASA.
    color: white;
    border: none;
    line-height: 24px; // POMENUTI OVU TACKU GOGI !!!

    &:hover {
        background-color: transparent;
    }

    &:focus {
        background-color: transparent !important;
    }
}

/* SVIM OVIM KLASAMA SAM SAMO DODAO IMPORTANT JER MI JE TO LOGICNIJE RJESENJE NEGO DA NEMA IMPORTANTA */

.rounded-0 {
    border-radius: 0 !important;
}
.rounded-top {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}
.rounded-bottom {
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.rounded-right {
    border-bottom-right-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}
.rounded-left {
    border-bottom-left-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
}
@media (min-width: 768px) { // MOZDA OVA KLASA NIJE CHANGES MADE TO BOOTSTRAP
    .rounded-md-right {
        border-bottom-right-radius: 0.25rem !important;
        border-top-right-radius: 0.25rem !important;
    }
}
@media (min-width: 1200px) { // MOZDA OVA KLASA NIJE CHANGES MADE TO BOOTSTRAP
    .w-xl-25 {
        width: 25% !important;
    }
}

.nav-tabs .nav-link.active { // STA AKO OCU OPET NAV TABOVE NEDJE, ALI NECU DA JE OVAKVO PONASANJE
    color: #464a4c;
    background-color: #f7f7f7;
    border-color: #ddd #ddd transparent;
}

.btn-group .btn {
    padding-left: 0;
    padding-right: 0;
}

// BACKGROUNDS

.bg-transparent {
    background: transparent; // DA LI I ODJE DA STAVIM !IMPORTANT - MISLIM DA NE TREBA
}

.bg-white {
    background: white !important;
}

.bg-inverse-transparent {
    background: rgba(41,43,44, 0.65); // PROKOMENTARISATI SA GOGOM OVAJ DIO SA BG-INVERSE-TRANSPARENT
}

@media (max-width:767px) {
    .bg-inverse-transparent {
    background: rgba(41,43,44, 0.85);
    } 
}
.bg-inverse-transparent-dark {
    background: rgba(41,43,44, 0.85);
}

@media (min-width: 768px) {
    .bg-img-road {
        background-image: url("../test/Road6-1440x900.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

// TEXT DECORATIONS STYLES

.cursor-pointer:hover { 
    cursor: pointer;
}

.style-chevron-right {
    list-style: square outside url("../../test/Right-Arrow-Transparent-Background.png"); // MISLIM DA NIJE NAJBOLJE RJESENJE
}

/* THIS IS WHERE THE TRIANGLE CLASSES ARE */

.triangle-left-white::after {
    position: absolute;
    left: 100%;
    top: 0px;
    content: "";
    height: 0;
    width: 0;
    border-top: solid $dangerColor 12px;
    border-right: solid white 12px;
    border-bottom: solid $dangerColor 12px;
}

.triangle-right-warning::before {
    position: absolute;
    left: 0%;
    top: calc(50% - 10px);
    content: "";
    height: 0;
    width: 0;
    border-left: solid #f0ad4e 10px;
    border-top: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid transparent 10px;
}

.triangle-right-danger::before {
    position: absolute;
    left: 0%;
    top: calc(50% - 10px);
    content: "";
    height: 0;
    width: 0;
    border-left: solid $dangerColor 10px;
    border-top: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid transparent 10px;
}

.triangle-top-white::after {
    position: absolute;
    left: 16px;
    top: -32px;
    content: "";
    height: 0;
    width: 0;
    border-left: solid transparent 8px;
    border-top: solid transparent 16px;
    border-right: solid transparent 8px;
    border-bottom: solid  white 16px;
}

.tag-new-danger {
    &::after {
        display: inline-block;
        position:absolute;
        padding: 0px 8px;
        content: "NEW";
        font-size: 12px;
        background-color: $dangerColor;
        color: white;
        transform: translate(-100%, -100%)
    }
}

@media (max-width: 768px) {
    .tag-new-danger::after {
        transform: translate(0%, -30%)
    }
}

// CHEKBOXES - CUSTOM CLASSES

.label-check-circle {
    position: relative;
    display: block;
    padding-left:25px;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-user-select: none; 
    user-select: none; 
}

.label-check-circle input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    &:checked ~ .checkmark-circle {
        background-color: $dangerColor;
    }
}

.checkmark-circle {
    position: absolute;
    cursor: pointer;
    top: calc(50% - 7.5px);
    left: 0px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
}

// POSITIONING 

.p-rel {
    position: relative;
}
.p-absol {
    position: absolute;
}

.top-0 {
    top: 0px;
}

.right-0 { // RIGHT-0
    right: 0px;
}

.clearfixed { // MISLIM DA POSTOJI KLASA clearfix U BOOTSTRAPU
    clear: both;
}

.centered { // PROMIJENITI OVU KLASU MOZDA OVO TREBA U SHAME
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -100%);
}

// HEIGHT CLASSES - MOZDA BI TREBALO ODJE DA IDE !IMPORTANT

.height-40 {
    height: 40px;
}
.height-200 {
    height: 200px;
}
.height-300 {
    height: 300px;
}
.height-350 {
    height: 350px;
}
.height-380 {
    height: 380px;
}

// WIDTH CLASSES

.w-auto { // PROVJERITI DJE JE OVA KLASA ISKORISCENA I DA LI IMA POTREBE ZA NJOM
    width: auto;
}

.width-40 { // OVE KLASE PROKOMENTARISATI SA GOGOM - VALJALO BI UPISAT width-40px, ALI JE GLUPO UPISIVAT PIXELE U KLASE...
    width: 40px;
}
.width-220 {
    width: 220px;
}
.width-250 {
    width: 250px;
}
.width-350 {
    width: 350px;
}

.w-min-320 { // PROMIJENITI U w-min-320px ILI NESTO TAKO
    min-width: 320px !important;
}

@media (max-width: 768px) {
    .w-min-320 {
        min-width: 0px !important; // OVO JE NEKO RJESENJE KOJE MOZDA NIJE SAVRSENO, TACNO JE AL NEKAKO NIJE KONKRETNO
    }  
}

// Z-INDEX CLASSES

.z-10 {
    z-index: 10;
}

.z-100 {
    z-index: 100;
}

// THIS IS THE COLLAPSED AND EXPANDED PLUS MINUS TRICK 

.collapsed .hidden-collapsed{
    display: none;
}
.hidden-collapsed {
    display: block;
}
.hidden-myexpanded {
    display:none;
}
.collapsed .hidden-myexpanded {
    display: block;
}

// THIS IS THE CAPTION - COULD BE CHANGED WITH BOOTSTRAP CLASS MAYBE

.caption-bottom {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
}

// SLICK PLUGIN ARROWS ADJUSTMENT

/* PREV BUTTONS IN SLICK PLUGIN WHICH ARE BLACK */

.prev {
    cursor: pointer;
}
.next {
    cursor: pointer;
}

/* PREV BUTTONS IN SLICK PLUGIN WHICH ARE WHITE */

.next-offers {
    cursor: pointer;
}
.prev-offers {
    cursor: pointer;
}

// SWITCH CSS 

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;

  }

input:checked + .slider {
    background-color: black;
  }

input:checked + .slider:before {
    background-color: $dangerColor;
  }

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

//  RANGE SLIDER CSS (UGLAVNOM KOPIRAN SA W3SCHOOLS)

.rangeslidecontainer {
    width: 100%; /* Width of the outside container */ // MISLIM DA MI OVAJ ELEMENT I OVA KLASA UOPSTE NISU POTREBNI
}

/* The slider itself */
.rangeslider {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: $dangerColor; /* Danger background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.rangeslider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    /* appearance: none; */
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* White background */
    border: solid 1px gray;
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

/* NOUISLIDER-VARIATIONS */

.noUi-connect {
    background-color: $dangerColor !important; // DA LI JE OVO U REDU OVAKO MIJENJATI KLASU? JER JOJ PRAKTICNO MIJENJAM DEFAULT VRIJEDNOST, MOZDA TREBA DODATI -danger U KLASI ILI TAKO NESTO
}

.noUi-horizontal .noUi-handle {
    height: 30px !important;
    width: 30px !important;
    top: -10px !important;
    border-radius: 50% !important;
    outline: none;
}

.noUi-handle:after, .noUi-handle:before {
    display: none !important;
}

.noUi-horizontal {
    height: 12px !important;
}

// MYDROPDOWN CUSTOM CLASSES //SIGURNO TREBA MIJENJATI IME, DA NIJE "MY"DROPDOWN

.myDropdown {
    display: inline-flex; 
    position: relative;
    -webkit-user-select: none; 
    user-select: none;
}

.myDropdownLink {
    display: block;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    z-index: 1000;
}

.myDropdownMenu {
    background: white;
    top: 72px;
    margin-top: 0px;
    padding: 16px 16px;
    z-index: 1010; // VJEROVATNO NE TREBA 1010 NEGO MOZE I 1000
    position: absolute;
    min-width: 320px;
    display: none;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

@media (max-width: 768px) {
    .myDropdownMenu {
        min-width: 100px; // PROVJERITI JEL OVO DOBRO RJESENJE
        width: 100%;
    }
}

.bg-shaded { 
    background: rgba(0, 0, 0, 0.50)!important;
    z-index: 3; // MISLIM DA ODJE TREBAJU NEKE PREPRAVKE
    overflow: auto;
    height: 100%;
    width: 100%;
    position: fixed;
}

.dropdown-item.no-highlight.active, .dropdown-item.no-highlight:active {
    background-color: initial;
}
