// MOJ NACIN IZRADE TIMELINE-A
//----------------------------------------------------------

.timeline-horizontal .timeline-horizontal-item::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $fadedBorderDarker;
    display: block;
    position: relative;
    top: 27.5px;
    z-index: -1;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    background: #d9534f;
}

.circle-smaller {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background: #d9534f;
}

.circle-outline {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    line-height: 55px;
    text-align: center;
    background: white;
    border: solid #d9534f 1px;
}

@media (max-width: 767px) {
    .timeline-horizontal .timeline-horizontal-item::before {
        content: "";
        height: 100%;
        width: 1px;
        background-color: $fadedBorderDarker;
        display: block;
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 25%;
    }

    .timeline-horizontal .timeline-horizontal-item:last-child::before {
        display: none;
    }
}

// FLEX KLASE - CUSTOM MADE
//----------------------------------------------------------

.list-inline {
    flex: 1;
}

.flexed {
    flex: 1;
}

.flexed-2 {
    flex: 2;
}

// BORDER CLASSES - CUSTOM
//----------------------------------------------------------

.bb-dashed {
    border-bottom: dashed $fadedBorderLighter 1px;
}

.br-dashed {
    border-right: dashed $fadedBorderDarker 1px;
}

.bl-dashed {
    border-left: dashed $fadedBorderDarker 1px;
}

//KLASE ZA MOBILNE (FLEX) // 
//----------------------------------------------------------

@media (max-width: 991px) {

    .tablet-px-0 { // OVAJ JE REGULARAN
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/* OVO TREBA SVE POBRISATI I ZAMIJENITI SA BOOTSTRAPOVIM KLASAMA
 */
 //----------------------------------------------------------

@media (max-width: 767px) {
    .mobile-justify-content-center { // .justify-content-md-center
        justify-content: center !important;
    }

    .mobile-justify-content-start { // .justify-content-md-start
        justify-content: flex-start !important;
    }

    .mobile-align-items-center { // .align-items-md-center
        -webkit-box-align: center !important;
        align-items: center !important;
    }

    .mobile-pt-0 { // .pt-md-0
        padding-top: 0px;
    }

    .mobile-pb-3 { // .pb-md-3
        padding-bottom: 16px;
    }

    .mobile-d-block { // .d-md-block
        display: block;
    }

    .mobile-flex-row { // .flex-md-row
        flex-direction: row;
    }
}

// DROPDOWN CUSTOM CLASS
//----------------------------------------------------------

.dropdown-white {
    background-color: white;
    border-radius: 5px;
    border: solid 1px $fadedBorderDarker;
}

#dropdownMenuLink-toc {
    width: 100%;
    border: solid 1px $fadedBorderDarker;
}

#dropdown-menu-toc {
    position: absolute;
    top: 40px;
    width: 100%;
}

#promoCodeDropdown {
    width: 100%;
}

// DATETIME PICKER CUSTOM CLASS

.dateTimePicker {
    box-sizing: content-box;
    height:20px;
}

// BORDERS CUSTOM CLASS
//----------------------------------------------------------

.no-br-left {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.no-br-right {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.bb-solid {
    border-bottom: solid 1px $fadedBorderLighter;
}

.bt-solid {
    border-top: solid 1px $fadedBorderLighter;
}

.br-solid {
    border-right: solid 1px $fadedBorderLighter;
}

.bl-solid {
    border-left: solid 1px $fadedBorderLighter;
}

@media (max-width: 767px) {
    .mobile-bb-solid {
        border-bottom: solid 1px $fadedBorderLighter;
    }

    .mobile-bx-0 {
        border-right: none !important;
        border-left: none  !important;
    }
}

// CHANGES MADE TO BOOTSTRAP
//----------------------------------------------------------

.dropdown > a {
    color: white;
    border: none;
    line-height: 24px;

    &:hover {
        background-color: transparent;
    }

    &:focus {
        background-color: transparent !important;
    }
}

.rounded-0 {
    border-radius: 0 !important;
}

.rounded-right {
    border-bottom-right-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.rounded-left {
    border-bottom-left-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
}

// REPLACEMENT TO LIST-GROUP THAT KEEPS THE SAME BORDERS

.gentle-gray-borders {
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    &:first-child {
        border-top-right-radius: 0.25rem;
        border-top-left-radius: 0.25rem;
    }
    &:last-child {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
}